<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Auditoria UDEC</title>
</head>

<body>


    <div class="contenedor">






        <div class="divpadre" >




            <div class="divhijo">

                <div>
                    <h1 class="textoportada">Auditoria para evaluar la ciberseguridad de su empresa</h1>



                    <!-- <h3 class="Subtexto">"Como el mundo está cada vez más interconectado, todos comparten la responsabilidad de asegurar el ciberespacio".</h3>
                    <h3>---Newton Lee---</h3> -->
                    <br>
                    <br>

                    <a class="botoniniciar" href="{{ url_for('inicio')}}">Iniciar auditoria</a>

                </div>
                

            </div>

        </div>

        <!--   <h1 id="recuerda" class="titulo_consejos">¡RECUERDA!</h1>


        <div class="divconsejos">


            <div class="imgconsejos">
                <img src="/img/index/consejo1.png" alt="" width="200px">
                <h2 class="textoGris"> NO compartas tus contraseñas con NADIE</h2>

            </div>

            <div class="imgconsejos">
                <img src="/img/index/consejo2.png" alt="" width="200px" height="200px">

                <h2 class="textoGris"> NO abras links de dudosa procedencia</h2>

            </div>
            <div class="imgconsejos">
                <img src="/img/index/consejo3.png" alt="" width="200px">
                <h2 class="textoGris">NO hagas transacciones bancarias usando una red wifi pública</h2>

             </div>

                 </div>
                    -->





    </div>


    <div class="piepag">

        <footer class="footer">

            <a href="https://www.ucundinamarca.edu.co/">
                
                <img src="static/img/pag web/ESCUDO-BLANCO-H.png" alt="" width=200px" height="150px">
            </a>
            <h1>PROYECTO INTEGRADOR NOVENO SEMESTRE</h1>
            <p>Integrantes <br>
                Bryan Felipe Roa Alvarado<br>
                Duvan Hernando Gómez Prieto<br>
                Juan Nicolas Romero Pineda
             
            </p>
        </footer> 


    </div>





    <script src="{{ url_for('static', filename='/js/index.js')}}"></script>


</body>

</html>