<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilosIniciarSesion.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <title>Inicio de sesión</title>
</head>

<body>
  <header>
    <a href="{{ url_for('home')}}">
      <img class="tamañologo" src="{{ url_for('static', filename='/img/pag web/ESCUDO-BLANCO-H.png')}}" alt="">
    </a>
    <h2 class="titulo_pag">PROYECTO INTEGRADOR</h2>
  </header>

  <div class="divafuera">
    <div class="divdentro">
      <h1 class="textocolor">INICIAR SESIÓN</h1>




      <form id="formularioIniciSesion" action="/validarinicio" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username" 
            name="usuarioSesion" >
            <label id="textoFlotanteUsuario" for="floatingInputGroup1">USUARIO</label>
            <div id="mensajeUsuario"></div>
          </div>
        </div>

        <div class="input-group mb-3">
          <button id="verConfContra" type="button" class="btn btn-secondary" onclick='mostrarContra()'>
            <img id="imgVerConfContra" src="{{ url_for('static', filename='/img/registro/ver.png' )}}" alt="" width="20px" height="20px">
        </button>
          <div class="form-floating">
            
            <input type="password" class="form-control" id="contraseña" placeholder="Username"
              name="contraseñaSesion">
            <label for="floatingInputGroup1">CONTRASEÑA</label>
            <div id="mensajeContraseña"></div>
          
          </div>
  
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages  %}
        <div  class="alert alert-danger alert-dismissible" role="alert"  >
        {% for mess in messages%}
        <strong >{{mess}}</strong> 
        <br>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
        </div>
        {% endif %}   
        {% endwith %}
        
        <hr>
        <button type="submit" class="btn btn-secondary btn-lg">INICIAR SESIÓN</button>
      </form>
        



      <h1></h1>
      <h6>¿No tiene usuario? registrese</h6>
      <a href="{{ url_for('registro')}}">aquí</a>
      <h1 id="ponertexto"></h1>

      <div id="divprueba"></div>




    </div>



  </div>


  <script src="{{ url_for('static', filename='/js/iniciarSesion.js')}}"></script>

</body>

</html>