<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/perfilAdmin.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <title>ADMINISTRADOR</title>
</head>

<body>

    <header>
        
            <img class="tamañologo" src="{{ url_for('static', filename='/img/pag web/ESCUDO-BLANCO-H.png')}}" alt="">
      
                                {% with messages = get_flashed_messages() %}
                                {% if messages  %}
                                <div  class="alert alert-danger alert-dismissible" role="alert"  >
                                {% for mess in messages%}
                                    <strong >{{mess}}</strong> 
                                    <br>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {% endfor %}
                                </div>
                                {% endif %}   
                                {% endwith %}

        <h3 class="titulo_pag">MÓDULO DE ADMINISTRADOR</h3>
        
    </header>


    <div class="padre">
        <div class="espacioReservado">
            <div class="tamañobotones">
                <div class="menuOpcionesPadre">
                    <a class="ai" href="{{ url_for('form')}}">
                        <div class="menuOpciones">
                            <img src="{{ url_for('static', filename='/img/pag formulario/test.png')}}" alt="" width="50px" height="50px">
                            <h3 class="espacioTextoMenu">Realizar test</h3>

                        </div>
                    </a>
                </div>



                <div class="menuOpcionesPadre">
                    <a class="ai" href="{{ url_for('home')}}">
                        <div class="menuOpciones">
                            <img src="{{ url_for('static', filename='/img/pag formulario/cerrar sesion.png')}}" alt="" width="50px" height="50px">
                            <h3 class="espacioTextoMenu">cerrar sesión</h3>

                        </div>
                    </a>
                </div>
            </div>



        </div>

        <div class="cont">
            <div class="panelUsuario" id="panelusuario">

                <div class="cardCambiodecontraseña">
                    <div class="card">
                        <div class="card-header">
                            INFORMACIÓN DEL ADMINISTRADOR
                        </div>

                        <!-- div formulario de cambio de contraseña -->
                        <div class="cuerpoCard">

                            <div class="fotoPerfil">
                                <img src="{{ url_for('static', filename='/img/perfilUsuario/usuario.png')}}" alt="" width="149px">

                            </div>

                            <div class="datosUsuarioPadre">
                                <div class="datosUsuario">
                                    <h5 class="colorVerde">NOMBRE: </h5>
                                    <h5>{{nombre}}</h5>
                                </div>
                                <div class="datosUsuario">
                                    <h5 class="colorVerde">APELLIDO: </h5>
                                    <h5>{{apellido}}</h5>
                                </div>
                                <div class="datosUsuario">
                                    <h5 class="colorVerde">EMAIL: </h5>
                                    <h5>{{email}}</h5>
                                </div>
                                <div class="datosUsuario">
                                    <h5 class="colorVerde">TIPO DOCUMENTO: </h5>
                                    <h5>{{tipodoc}}</h5>
                                </div>
                                <div class="datosUsuario">
                                    <h5 class="colorVerde">NÚMERO DE DOCUMENTO: </h5>
                                    <h5>{{numdoc}}</h5>
                                </div>


                            </div>


                        </div>




                    </div>
                </div>


                <div class="cardCambiodecontraseña">
                    <div class="card">
                        <div class="card-header">
                            CAMBIO DE CONTRASEÑA DEL ADMINISTRADOR
                        </div>

                        <!-- div formulario de cambio de contraseña -->
                        <div class="cuerpoCard">
                            <div class="infoUsuario">

                                <form id="cambioContraseña" action = '/Actualizar' method="POST">



                                    <div class="input-group mb-3">

                                        <button id="verConfContra" type="button" class="btn btn-secondary"
                                            onclick='mostrarConfContraseña()'>
                                            <img id="imgVerConfContra" src="{{ url_for('static', filename='/img/registro/ver.png')}}" alt="" width="20px"
                                                height="20px">
                                        </button>
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="Confpass"
                                                placeholder="Username" name="nuevaContraseña">
                                            <label for="floatingInputGroup1">CONTRASEÑA ACTUAL</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">

                                        <button id="verContra" type="button" class="btn btn-secondary"
                                            onclick="mostrarContraseña()">
                                            <img id="imgVerContra" src="{{ url_for('static', filename='/img/registro/ver.png')}}" alt="" width="20px"
                                                height="20px">
                                        </button>
                                        <div class="form-floating">
                                            <input type="password" onInput="mostrarbarra()" class="form-control"
                                                id="pass" placeholder="Username" name="actualContraseña">
                                            <label for="floatingInputGroup1">CONTRASEÑA NUEVA</label>


                                        </div>
                                    </div>
                                    <button  type="submit" class="btn btn-primary btn-lg">ACTUALIZAR</button>
                                </form>
                                
                                
                            </div>

                            <!-- DIV PARA PANEL DE SEGURIDAD DE CONTRASEÑA -->



                            <div id="mostrarbarra" class="mostrarbarra">
                                <h5>SEGURIDAD DE LA CONTRASEÑA</h5>
                                <div class="progress" style="height: 30px;">
                                    <div id="modificarbarra"
                                        class="progress-bar progress-bar-striped progress-bar-animated bg-primary "
                                        role="progressbar" aria-label="Default striped example" style="width: 0%"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <h class="colorVerde">Requisitos Mínimos</h>
                                <div class="txtRequisitosPadre">

                                    <div class="txtRequisitos">
                                        <h6>12 caracteres</h6>
                                        <img id="requ12Caracteres" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px"
                                            height="20px">
                                    </div>


                                    <div class="txtRequisitos">
                                        <h6>1 mayúscula</h6>
                                        <img id="reqMayusculas" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px"
                                            height="20px">

                                    </div>

                                    <div class="txtRequisitos">
                                        <h6>1 minúscula</h6>
                                        <img id="reqMinusculas" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px"
                                            height="20px">
                                    </div>


                                    <div class="txtRequisitos">
                                        <h6>1 número</h6>
                                        <img id="reqNumero" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px"
                                            height="20px">

                                    </div>

                                    <div class="txtRequisitos">
                                        <h6>1 caracter especial</h6>
                                        <img id="reqCarEsp" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px"
                                            height="20px">
                                    </div>


                                </div>


                            </div>
                        </div>



                    </div>


                </div>


            </div>

           
            <form action="\Gestionrol" id="Listroles" method='POST'></form>
            <div id="panelAdmin" class="panelAdmin">
                <div class="card">
                    <div class="card-header">
                        GESTIONAR LOS ROLES DE LOS USUARIO
                    </div>
                    <div class="cuerpoCard">

                       <div class="cuerpoCardHijo">
                         <div class="asignarRol">
                             <div class="nombUsuario">
                                 <h5>NOMBRE DEL USUARIO</h5>
                                 <select class="form-select" aria-label="Disabled select example" name="Dios" form="Listroles">
                                    {% for list in lista%}

                                    <option>{{list}}</option>

                                    {% endfor %}
                                   
                                     <option selected></option>
                                 </select>
                             </div>
                             <div>
                                 <h5>ROL ASIGNADO</h5>
                                 <select class="form-select" name="Luci" aria-label="Disabled select example" form="Listroles">
                                     <option selected></option>
                                     <option value="User">USUARIO</option>
                                     <option value="Admin">ADMINISTRADOR</option>
                                 </select>
                             </div>
                        
                         </div>
                        
                        
                         <div class="botonGuardarRol">
                             <button type="submit" class="btn btn-primary btn-lg" form="Listroles">GUARDAR CAMBIOS</button>
                        
                         </div>
                       </div>

                    </div>


                </div>



            </div>

        </div>


    </div>


    <footer class="footer">

        <a href="https://www.ucundinamarca.edu.co/">
            <img src="{{ url_for('static', filename='/img/pag web/ESCUDO-BLANCO-H.png')}}" alt="" width=210px" height="150px">
        </a>
        <h1>PROYECTO INTEGRADOR NOVENO SEMESTRE</h1>
        <p>Integrantes <br>
            Bryan Felipe Roa Alvarado<br>
            Duvan Hernando Gómez Prieto<br>
            Juan Nicolas Romero Pineda
        </p>
    </footer>


    <script src="{{ url_for('static', filename='/js/perfilAdmin.js')}}"></script>

</body>

</html>