<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/estiloregistrarse.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <!--boostrap flask-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Registro de usuario</title>
</head>

<body>
    <header>
        <a href="{{ url_for('home')}}">
            <img class="tamañologo" src="{{ url_for('static', filename='/img/pag web/ESCUDO-BLANCO-H.png')}}" alt="">
        </a>
        <h2 class="titulo_pag">PROYECTO INTEGRADOR</h2>
    </header>

    <div class="divafuera">
        <div class="divdentro">
            <h1 class="textocolor">CREA TU USUARIO</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages  %}
            <div  class="alert alert-danger alert-dismissible" role="alert"  >
            {% for mess in messages%}
                <strong >{{mess}}</strong> 
                <br>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
            </div>
            {% endif %}   
        {% endwith %}



            <form id="formularioRegistro" action="/registrar" method="POST" >

                <div class="input-group mb-3">

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"
                            name="nomb">
                        <label for="floatingInputGroup1">NOMBRES</label>
                    </div>
                </div>

                <div class="input-group mb-3">

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"
                            name="apellidos">
                        <label for="floatingInputGroup1">APELLIDOS</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo de documento</label>
                    <select class="form-select" id="inputGroupSelect01" name="cedula">

                        <option value="Cédula de ciudadania">Cédula de ciudadania</option>
                        <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <!-- <span class="input-group-text">#</span> -->
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"
                            name="numeroDocumento">
                        <label for="floatingInputGroup1">NÚMERO DE IDENTIFICACIÓN</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                   <!--  <span class="input-group-text">@</span> -->
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"
                            name="IngUsuario">
                        <label for="floatingInputGroup1">USUARIO</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"
                            name="correo">
                        <label for="floatingInputGroup1">CORREO ELECTRONICO</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    
                    <button id="verContra" type="button" class="btn btn-secondary" onclick="mostrarContraseña()">
                        <img id="imgVerContra" src="{{ url_for('static', filename='/img/registro/ver.png')}}" alt="" width="20px" height="20px">
                    </button>
                    <div class="form-floating">
                        <input type="password" onInput="mostrarbarra()" class="form-control" id="pass"
                            placeholder="Username" name="IngContraseña">
                        <label for="floatingInputGroup1">CONTRASEÑA</label>
                        

                    </div>
                </div>
                <div class="input-group mb-3">

                    <button id="verConfContra" type="button" class="btn btn-secondary" onclick='mostrarConfContraseña()'>
                        <img id="imgVerConfContra" src="{{ url_for('static', filename='/img/registro/ver.png')}}" alt="" width="20px" height="20px">
                    </button>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="Confpass" placeholder="Username"
                            name="confContraseña">
                        <label for="floatingInputGroup1">CONFIRMAR CONTRASEÑA</label>
                    </div>
                </div>
            </form>



            <!-- este div solo se muestra cuando se ingresa la contraseña -->
            <div id="mostrarbarra" class="mostrarbarra">
                <h5>SEGURIDAD DE LA CONTRASEÑA</h5>
                <div class="progress" style="height: 50px;">
                    <div id="modificarbarra" class="progress-bar progress-bar-striped progress-bar-animated "
                        role="progressbar" aria-label="Default striped example" style="width: 0%" aria-valuenow="10"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="txtRequisitosPadre">
                    <p>Minimo:</p>
                    <div class="txtRequisitos">
                        <h6>12 caracteres</h6>
                        <img id="requ12Caracteres" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px" height="20px">
                    </div>


                    <div class="txtRequisitos">
                        <h6>1 mayúscula</h6>
                        <img id="reqMayusculas" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px" height="20px">

                    </div>

                    <div class="txtRequisitos">
                        <h6>1 minúscula</h6>
                        <img id="reqMinusculas" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px" height="20px">
                    </div>


                    <div class="txtRequisitos">
                        <h6>1 número</h6>
                        <img id="reqNumero" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px" height="20px">

                    </div>

                    <div class="txtRequisitos">
                        <h6>1 caracter especial</h6>
                        <img id="reqCarEsp" src="{{ url_for('static', filename='/img/registro/check no.png')}}" alt="" width="20px" height="20px">
                    </div>


                </div>


            </div>






            <br>


            <hr>

            <div class="divTyC">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" form="formularioRegistro" required
                    name="terminos">
                    <label class="form-check-label" for="flexSwitchCheckDefault">

                        ACEPTO LOS
                        <a class="terminosCondiciones" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            TÉRMINIOS Y CONDICIONES
                        </a></label>
                </div>

            </div>


            <!-- modal terminos y condiciones -->

            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">CONTRATO DE USO</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <h4>AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES</h4>
                            De conformidad con lo dispuesto en la normatividad vigente sobre protección de datos
                            personales, en especial la Ley 1581 de 2012 y el Decreto 1074 de 2015, autorizo libre,
                            expresa e inequívocamente a los estudiantes de la Universidad de Cundinamarca, para que
                            realice la recolección y tratamiento de mis datos personales que
                            suministro de manera veraz y completa, los cuales serán utilizados para los diferentes
                            aspectos relacionados con auditoria informática y de ciberseguridad.

                            Así mismo, declaro que conozco que la recolección y tratamiento de mis datos manifestando
                            que he sido informado(a) de forma clara y suficiente de los fines de su
                            tratamiento y la posibilidad que tenía de no efectuar la autorización en aquella información
                            considerada sensible.

                            Manifiesto que como titular de la información, fui informado de los derechos con que cuento
                            como titular de la información, especialmente a conocer, actualizar y rectificar mi
                            información personal, revocar la autorización y solicitar la supresión del dato, las cuales
                            podré ejercer a través de los canales presenciales

                            <br>
                            <br>
                            <hr>
                            <h4>TÉRMINOS Y CONDICIONES DEL SERVICIO</h4>

                            Al acceder a este sitio Web y/o a cualquiera de sus páginas, usted (el usuario) acepta las
                            condiciones y términos de uso que se indican a continuación. La navegación por este sitio le
                            atribuye la condición de usuario e implica la aceptación plena y sin reservas de todas y
                            cada una de las disposiciones incluidas en estas condiciones generales de uso, por lo que,
                            si no está de acuerdo con cualquiera de las condiciones aquí establecidas, no deberá usar
                            este sitio Web.

                            Los estudiantes pertenecientes a este proyecto integrador se reservan el derecho de
                            cambiar, modificar, adicionar o
                            remover, de manera
                            unilateral, cualquier parte o la totalidad de los presentes términos y condiciones, en
                            cualquier tiempo y sin previo aviso. Dichas modificaciones serán publicadas en este sitio
                            Web, y será responsabilidad del usuario revisar las condiciones generales de
                            uso que sean aplicables cada vez que ingrese a este sitio.


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>

                        </div>
                    </div>
                </div>
            </div>


           
            <br>
            <!-- Clave secreta que va al servidor-->
            <!-- 6Le1gNQiAAAAAK5opqU9nrVgIpqPSjNzHNoqk_rW -->
            <!-- Clave del sitio -->
            <!-- 6Le1gNQiAAAAAAoGXMXSsW4w1pJK_gxCwUVmqJoF -->
            <div class="containerCaptcha">
                <div class="g-recaptcha" data-sitekey="6Le1gNQiAAAAAAoGXMXSsW4w1pJK_gxCwUVmqJoF" form="formularioRegistro">
                    </div>
            </div>
<br>

            <button name="crearcuenta" type="submit" form="formularioRegistro" class="btn btn-secondary btn-lg">CREAR CUENTA</button>
            <h1></h1>
            <h6>¿Ya tiene un usuario? Ingresa</h6>
            <a href="{{ url_for('inicio')}}">aquí</a>

        </div>


    </div>

    <script src="{{ url_for('static', filename='/js/registrarse.js')}}"></script>

</body>

</html>