body {
    font-family: sans-serif;
    margin: 0;
   
   


}

header {
    display: flex;
    background-color: rgb(20, 139, 40);
    align-items: center;
    justify-content: right;
    padding: 5px 20px;
    position: fixed;
    right: 0;
    left: 0;



}




h3 {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}
.textoGris{
    color: rgb(56, 55, 55);
}

.titulo_pag {

    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;

}

.tamañologo {
    height: 80px;

}



.portada {
    width: 100%;
    height: 500px;


}



.divpadre {
    background-image: url(/static/img/index/fotoportada2.jpg);
    background-position: top;
    background-size: cover;

    width: 100%;
    height: 669px;
   
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.divhijo {
   display: flex;
align-items: center;
    width: 30%;
    height: 519px;
    

}


.textoportada {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
    font-weight: bolder;

}

.Subtexto{
    font-size: 25px;
}
.botoniniciar {
    text-align: center;
    display: block;
    
    margin-left: 25%;

width: fit-content;
    justify-content: center;
  

    padding: 5%;
    
    color: white;
    text-decoration: none;

    border-radius: 30px;
    background-color: rgb(49, 173, 59);

    box-shadow: 0px 2px 15px 7px rgba(61, 61, 61, 0.75);

    font-size: 30px;
}



.titulo_consejos {
    color: rgb(56, 55, 55);
    text-align: center;
    margin-top: 60px;
}

.divconsejos {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
    margin-bottom: 50px;
}


.imgconsejos {


    width: 400px;
    padding: 20px;
text-align: center;  

    border-radius: 45px 45px 45px 45px;
    -moz-border-radius: 45px 45px 45px 45px;
    -webkit-border-radius: 45px 45px 45px 45px;

    box-shadow: 0px 0px 17px 8px rgba(0, 0, 0, 0.75);

}








.piepag{

    width: 100%;
    height: 220px;


}





.footer {

   
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
   
    width: 100%;
  height: 100%;
    
    background-color: rgb(63, 62, 62);

    /* background-color: rgb(22, 121, 88); */
}


.botoniniciar:hover {
    background-color: rgb(6, 114, 78);
    transform: translateY(10px);
    box-shadow: 0px 0px 17px 8px rgba(57, 240, 97, 0.801);
}

