body{
  
    padding: 0;
   
    background-size: cover;
    background-position:top;
    font-family: sans-serif;
     margin: 0;
}
header {
    color: white;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(20, 139, 40); */
    background-color: rgb(112, 109, 109);
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
   
    top: 0;
    right: 0;
    left: 0;



}

/* -----------------colores de titulos ----------------------------*/
.colorVerde{
    color: #0D6EFD;
    padding-right: 10px;

}
/* ------------------------------------------------------------- */



.padre{
    display: flex;
    
    width: 100%;
  
}

.cont{
    width: 100%;
    text-align: center;
    
}

.titulo_pag {

    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;

}

.tamañologo {
   
    height: 80px;

}

.espacioReservado{
  

    text-decoration: none;
    /* background-color: rgba(139, 184, 159, 0.808); */
    background-color: rgba(133, 136, 134, 0.808);
    width: 15%;
    height: auto;
}
.tamañobotones{
    height: 16%;
}

.menuOpcionesPadre{

    display: flex;
    align-items: center;
  
    text-decoration: none;
    width: 100%;
    height: auto;
  
  
}

.menuOpciones{
    text-decoration: none;
    text-align: center;
       margin: 8% 0;
       
      padding: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height:2%;
}

.ai{
    text-decoration: none;
}




.cardCambiodecontraseña{
width: 70%;
padding: 1% 1%;
}
.cuerpoCard{
    display: flex;

   
}




/* ----------------------------------card infousuario----------------------------------------------------------------------------------- */


.fotoPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}
.datosUsuarioPadre{
    width: 100%;
}
.datosUsuario{
    width: 100%;
    display: flex;
    /* este 1.65% es para que ambas card se vean igual de altas */
    padding: 1.65% 1%;
    margin-left: 2%;
   
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */






/* ----------------------------------card contraseña----------------------------------------------------------------------------------- */

.espacioTextoMenu{
    padding-left: 8%;
    color: white;
    width: auto;
    

}



.panelUsuario{
    width: 100%;
    height: 350px;
    display: flex;
   justify-content: center;
    align-items: center;
}

.infoUsuario{
    /* SE PONE TEXT ALING CENTER PARA CENTRAR TODO SIN NECESIDAD DE VOLVERLO FLEX */
    width: 50%;
    padding: 3%;
    text-align: center;
}


.mostrarbarra{
    text-align: center;
    padding: 2% 1%;
    margin-left: 2%;
 }
.txtRequisitos{
    display: flex;
    width: 70%;
    padding: auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */






/* -----------------------------------------card admin ----------------------------------------------------------------------*/
.panelAdmin{
   
    width: 100%;

    /* arriba derecha abajo izquierda */
    padding: 0 1% 2% 1%;
}
.cuerpoCardHijo{
    width: 100%;
     padding: 2% 0%;
}
.asignarRol{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.nombUsuario{
    width: 80%;
    margin-right: 1%;
}
.botonGuardarRol{
    margin-top: 2%;

}

/* -------------------------------------------------------------------------------------------------------------------------- */





footer{
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
    width: 100%;
    height: 200px;
    /* background-color: rgb(6, 114, 78); */
    background-color: rgb(63, 62, 62);
}


.menuOpcionesPadre:hover{
    background-color: rgba(113, 151, 130, 0.808);
}